.title{
    position: relative;
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 5px;
    color: #fff;
    text-transform: capitalize;
}
 .title h2 {
    font-size: 36px;
    margin: 0 0 30px;
}
 .title:after{
     position: absolute;
     content: '';
     background: #4e93e6;
     width: 55px;
     height: 1px;
     left: 50%;
     transform: translate(-50%,50%);
 }
